<div class="row p-4">
  <div class="col-2">
    <img src="http://via.placeholder.com/350?text=Company+logo+image+here" alt="Company Image" class="embed-responsive" />
  </div>

  <div class="col-10">

    <div class="row">
      <div class="col-8">
        <h3>Company Name<small style="font-size:14px;"> &nbsp;Sample Street, Sample Town, Sample City, Sample Region, Sample Postcode, 0123 456 7890</small></h3>
        <p>Company Description Here</p>
        <hr />
        <div class="row">
          <div class="col-12">
            <a class="mr-1" href="http://www.solowing.co.uk"><i class="fa fa-2x fa-globe"></i></a>
            <a class="mr-1" style="color: #3B5998" href="http://www.facebook.com"><i class="fa fa-2x fa-facebook-square"></i></a>
            <a class="mr-1" style="color: #1DA1F2" href="http://www.twitter.com"><i class="fa fa-2x fa-twitter-square"></i></a>
            <a class="mr-1" style="color: #262626" href="http://www.instagram.com"><i class="fa fa-2x fa-instagram"></i></a>
          </div>
        </div>

      </div>
      <div class="col-4">
        <img src="http://via.placeholder.com/350?text=Company+map+image+here" alt="Company map image here" class="embed-responsive" />
      </div>
    </div>
  </div>
  <div class="col-12">
    <hr />
  </div>
</div>
