<nav>
  <h4>Admin <a routerLink="../site"><small class="text-muted" style="font-size: 12px;">Back to site</small></a></h4>
  <hr />
  <ul class="nav nav-pills flex-column">
    <!--<li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="venues">Venues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="rooms">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="pricing">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="showings">Showings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="bookings">Bookings</a>
    </li>

  </ul>

</nav>
